h1,
h2,
h3,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.max-width {
  max-width: 960px;
  margin: 0px auto;
}
.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-margin {
  margin: 0 5px 0 0;
}

.section-padding {
  padding: 4rem 0;
}

.cur-po {
  cursor: pointer;
}
.collection-title {
  font-size: 3rem;
  display: inline-block;
  color: var(--heading-text);
  margin-bottom: 3.2rem;
  font-weight: 600;
  position: relative;
}

/* Hover effects */

.collection-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2.5px;
  /* background: currentColor; */
  background: var(--zm-primary-red);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.19s ease-in;
}

.collection-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin: 1rem 1.5rem;
  cursor: poiner;
  border: none;
  font-family: "Nunito", sans-serif;
  border-radius: 0.5rem;
}

/* Hover effects End */

.sub-heading {
  font-size: 1.5rem;
  margin: 0 1.2rem 0 0;
}

.slick-prev::before,
.slick-next::before {
  font-size: 24px !important;
  color: #a2a2a2 !important;
}
.slick-prev,
.slick-next {
  top: 40% !important;
}
