@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "./styles/commonClasses.css";
@import "./styles/variable.css";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
